<a href="https://colab.research.google.com/github/peace03/python25study/blob/main/%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#함수
#매개변수: 함수에 입력으로 전달된 값을 받는 변수
#인수: 함수를 호출할 때 전달하는 입력값
def add(a,b): #a, b 매개변수
  return a+b

a = 3
b = 4
c = add(a,b) #a, b 인수
print(c)

7

In [8]:
#입력값 없는 함수
def say():
  return 'Hi'
print(say())

#반환값 없는 함수
def add(a,b):
  print("%d, %d의 합은 %d입니다."%(a,b,a+b))
add(3,4)

#입력값 반환값 없는 함수
def say2():
  print('hi')
say2()

Hi
3, 4의 합은 7입니다.
hi

In [9]:
#매개변수 지정하여 호출
def sub(a,b):
  return a-b
print(sub(b=3, a=5))

2

In [10]:
#가변 매개변수
def add_many(*args):
  result = 0
  for i in args:
    result += i
  return result

print(add_many(1,2,3,4,5,6,7,8,9,10))

55

In [14]:
#가변 매개변수를 포함한 추가 매개변수
def add_mul(choice, *args):
  if choice == "add":
    result = 0
    for i in args:
      result += i
  elif choice == "mul":
    result = 1
    for i in args:
      result *= i
  return result
print(add_mul('add',1,2,3,4,5,6,7,8,9))

45

In [16]:
#키워드 매개변수, kwargs
def create_profile(**info):
  print('===프로필 정보===')
  for key,value in info.items():
    print(f'{key}:{value}')

create_profile(이름='윤평화',나이=23,직업='프로그래머',취미='독서')

===프로필 정보===
이름:윤평화
나이:23
직업:프로그래머
취미:독서

In [17]:
#일반 매개변수, 가변 매개변수, 키워드 매개변수 함께 사용
def mixed_function(name, *args, **kwargs):
  print(f'이름: {name}')
  print(f'추가 인수들: {args}')
  print(f'키워드 인수들: {kwargs}')

mixed_function('윤평화', 1,2,3, age=23, city='화성')

이름: 윤평화
추가 인수들: (1, 2, 3)
키워드 인수들: {'age': 23, 'city': '화성'}

In [19]:
#함수의 반환값은 언제나 하나
def add_and_mul(a,b):
  return a+b, a*b #튜블 형식으로 묶어서 하나의 반환값임
result1, result2 = add_and_mul(3,4) #따로 받아낼 수 있음
print(result1, result2)
print(add_and_mul(3,4))

7 12
(7, 12)

In [20]:
#매개변수 초기값 미리 설정
def say_myself(name, old, man=True): #초기값을 정한 매개변수는 무조건 마지막에 와야함
  print(f'나의 이름은 {name}입니다.')
  print(f'나이는 {old}살입니다.')
  if man:
    print('남자입니다.')
  else:
    print('여자입니다.')

say_myself('윤평화',23)
say_myself('윤평화',23,False)

나의 이름은 윤평화입니다.
나이는 23살입니다.
남자입니다.
나의 이름은 윤평화입니다.
나이는 23살입니다.
여자입니다.

In [21]:
#함수 안에서 선언간 변수는 함수 밖 변수와 이름이 같아도 독립된 변수다
#하지만 global 명령어로 함수 밖 변수 사용 가능하다. (되도록 사용 안하는 것이 좋다.)
a = 1
def vartest():
  global a
  a += 1
vartest()
print(a)

2

In [22]:
#lambda 예약어: 함수 생성, def 역할과 동일
add = lambda a,b : a+b
print(add(3,5))

8

In [23]:
#함수의 독스트링(Docstring)
def add(a,b):
  """
  두 숫자를 더하는 함수

  Parameters:
  a(int, float): 첫 번째 숫자
  b(int, float): 두 번째 숫자

  Returns:
  int, float: 두 숫자의 합
  """
  return a+b

#독스트링 확인하기
print(add.__doc__)

  두 숫자를 더하는 함수

  Parameters:
  a(int, float): 첫 번째 숫자
  b(int, float): 두 번째 숫자

  Returns:
  int, float: 두 숫자의 합

In [29]:
#사용자 입출력 (input은 입력값 모두 문자열 취급)
a = input()
#안내문구
number = input("숫자를 입력하세요: ")
a, number, type(number)

east
숫자를 입력하세요: 55

('east', '55', str)

In [32]:
#입력값 형변환
age = input("나이 입력: ")
age = int(age) #정수로 변환
height = input("키 입력: ")
height = float(height) #실수로 변환
age, type(age), height, type(height)

나이 입력: 23
키 입력: 168.9

(23, int, 168.9, float)

In [40]:
#print
print('life''is''too short')
print('life'+'is'+'too short')
print('life','is','too short\n') #자동 띄어쓰기

#sep 매개변수: 구분자 설정 (기본값: ' ')
print('2025','08','17\n',sep='/')

#한 줄에 출력 (기본값: \n)
for i in range(10):
  print(i, end=' ')

lifeistoo short
lifeistoo short
life is too short

2025/08/17

0 1 2 3 4 5 6 7 8 9

In [43]:
#간단한 계산기
print('====계산기====')
#두 숫자 입력
num1 = float(input('첫 번째 숫자: '))
num2 = float(input('두 번째 숫자: '))
#계산
print(f'{num1}+{num2}={num1+num2}')
print(f'{num1}-{num2}={num1-num2}')
print(f'{num1}*{num2}={num1*num2}')
if num2 != 0:
  print(f'{num1}/{num2}={num1/num2}')
else: print('0으로 나눌 수 없습니다.')

====계산기====
첫 번째 숫자: 0
두 번째 숫자: 0
0.0+0.0=0.0
0.0-0.0=0.0
0.0*0.0=0.0
0으로 나눌 수 없습니다.

In [59]:
#파일 쓰기
#w: 쓰기모드 (파일이 이미 존재한다면 내용이 사라진다.)
f = open("/content/새파일.txt",'w')
for i in range(1, 11):
  data = "%d번째 줄입니다.\n" % i
  f.write(data)
f.close()

In [50]:
#파일 읽기
#r: 읽기 모드
#readline 함수
f = open('새파일.txt','r')
while True:
  line = f.readline() #읽을 줄이 없으면 ''반환
  if not line: break
  print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [52]:
#파일 읽기
#readlines 함수
f = open('새파일.txt','r')
lines = f.readlines() #모든 줄을 리스트 형태로 반환
for line in lines:
  line = line.strip() #줄 끝 줄바꿈 문자 제거
  print(line)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [53]:
#파일 읽기
#read 함수
f = open('새파일.txt','r')
data = f.read() #파일 내용 전체 문자열 반환
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [56]:
#파일 읽기
#for문 사용
f = open('새파일.txt','r')
for line in f:
  print(line.strip())
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [60]:
#a: 파일 추가 모드
f = open('새파일.txt','a')
for i in range(11,20):
  data = f"{i}번째 줄입니다.\n"
  f.write(data)
f.close()

In [64]:
#with문: 파일 자동으로 열고 닫기
with open('foo.txt','w') as f:
  content = 'Life is too short, you need python'
  f.write(content)

#함수 스코프: 함수 안에서 선언된 변수는 함수 밖에서 접근할 수 없다.
#블록 스코프: if, for, while, with 등의 블록 안에서 성언된 변수는 블록 밖에서도 접근할 수 있다.
print(content) #변수는 접근 가능

Life is too short, you need python

In [66]:
#파일 처리 주의사항
#한글 포함 파일은 인코딩 명시 권장
with open("한글파일.txt",'w', encoding='utf-8') as f:
  f.write('안녕하세요, 파이썬!')
with open('한글파일.txt','r', encoding='utf-8') as f:
  content = f.read()
  print(content)

안녕하세요, 파이썬!