<a href="https://colab.research.google.com/github/peace03/python25study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 숫자형
# Number 타입: 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.
a = 123
print(a)

123

In [ ]:
a = 0o177
print(a)

127

In [ ]:
a = 0x8ff
print(a)

2303

In [ ]:
a = 3
b = 5
print(a ** b)

243

In [ ]:
a=int(input())
if a % 5 == 0:
  print(a,"는 5의 배수입니다.")
else:
  print(a,"는 5의 배수가 아닙니다.")

60
60 는 5의 배수입니다.

In [ ]:
#문자열 자료형
#역슬래시로 큰싸옴표 문자열로 중복 사용
food = "\"Python is very easy.\" he says."
print(food)

"Python is very easy." he says.

In [ ]:
a = """I
am
Ironman"""
print(a)

I
am
Ironman

In [ ]:
head = "Python"
tail = " is fun!"
print(head + tail)
print(head * 2)

Python is fun!
PythonPython

In [ ]:
a = "Life is too short, You need Python"
print(a[:4])
print(a[-6:])

Life
Python

In [ ]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230331
Rainy

In [ ]:
a = "pithon"
a = a[:1] + 'y' + a[2:]
print(a)

python

In [ ]:
# 문자열 포매팅
# %s	문자열(String)
# %c	문자 1개(character)
# %d	정수(Integer)
# %f	부동소수(floating-point)
# %o	8진수
# %x	16진수
# %%	Literal % (문자 % 자체)
a = "현재 온도: %d도"
print(a%30)

현재 온도: 30도

In [ ]:
a = "I ate {0} apples. so I was sick for {1} days"
print(a.format(50, 2))

I ate 50 apples. so I was sick for 2 days

In [ ]:
a = "I ate {number} apples. so I was sick for {three} days"
print(a.format(number=50, three=2))

I ate 50 apples. so I was sick for 2 days

In [ ]:
#문자열 정렬
print("%10s" % "hi")
print("%-10sjane." % 'hi')
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:*^10}".format("hi"))

        hi
hi        jane.
hi
        hi
****hi****

In [ ]:
#딕셔너리와 f포매팅(3.6버전부터 사용가능)
profile = {'name':'홍길동', 'age':35}
print(f'나의 이름은 {profile["name"]}입니다. 나이는 {profile["age"]}살입니다.')
#f포매팅 문자열 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":*^10}')

나의 이름은 홍길동입니다. 나이는 35살입니다.
hi
        hi
****hi****

In [ ]:
money = 12058946500
print(f"자산은 총 {money:,}원 있습니다.")

자산은 총 12,058,946,500원 있습니다.

In [ ]:
#문자열 관련 함수
a = "python"
print(a.count('y')) #문자 개수
print(a.find('n')) #위치 알려주기
print(a.index('n'))
print(",".join(a)) #문자사이 문자 넣기
a = a.upper() #대문자 변환
print(a)
a = a.lower() #소문자 변환
print(a)
a = "     python      "
print(a.lstrip()) #왼쪽 공백 삭제
print(a.rstrip()) #오른쪽 공백 삭제
a = a.strip() #양쪽 공백 삭제
print(a)
print(a.replace("py", "nay")) #문자 교체
a = "python is too easy"
print(a.split()) #문자열 나누기, 리스트에 넣는다
print(":".join(a).split(':'))
b = "python"
print(b.isalpha(), a.isalpha()) #알파벳만 있는지 확인
c = "500"
print(c.isdigit(), a.isdigit()) #*문자열*에 숫자만 있는지 확인
print(a.startswith("py")) #특정 문자열로 시작하는지 확인
print(a.endswith("easy")) #특정 문자열로 끝나는지 확인

1
5
5
p,y,t,h,o,n
PYTHON
python
python
     python
python
naython
['python', 'is', 'too', 'easy']
['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 't', 'o', 'o', ' ', 'e', 'a', 's', 'y']
True False
True False
True
True

In [85]:
a = "python"
", ".join(a)

'p, y, t, h, o, n'

In [89]:
#리스트 자료형
a = [1,2,3]
a[0] + a[2]

4

In [96]:
a = [1,2,3,['a','b','c',['python', 'easy']]] #3중 리스트
",".join(a[3][3][0]).split(",")

['p', 'y', 't', 'h', 'o', 'n']

In [99]:
#리스트 슬라이싱
a = [1,2,[3,4,5],6,7]
a[2][1:]

[4, 5]

In [101]:
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a*3)
len(a) #리스트 길이

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

3

In [105]:
#리스트 수정, 삭제
a = [1,2,3]
a[2] = 4 #수정
del a[:1] #삭제
print(a)

[2, 4]

In [128]:
#리스트 관련 함수
a = [3,2,1,2]
a.append([4,5]) #요소 추가
a.pop() #마지막 요소 반환 후 해당 요소 삭제
a.reverse() #뒤집기
print(a.index(2)) #인덱스 반환(가장 왼쪽 x값)
a.insert(3,4)
a.sort() #정렬
print(a.count(2)) #요소 개수 세기
a.remove(2) #요소 제거 (가장 왼쪽 x값)
a.extend([5,6,7])
print(a)

0
2
[1, 2, 3, 4, 5, 6, 7]

In [238]:
#튜플 자료형 (요소값 변화가 불가능)
t1 = ()
t2 = (1,) #한개 요소일 땐 ',' 필수
t3 = (1,2,3)
t4 = 1,2,3 #소괄호 생략 가능
t5 = ('a','b',('ab','cd'))
print(t4)
type(t4[0])

(1, 2, 3)

int

In [137]:
t = (1,2,'a','b')
t2 = (3,4)
print(t[0]) #인덱싱
print(t[2:]) #슬라이싱
t3 = t + t2
len(t3) #길이

1
('a', 'b')

6

In [150]:
#딕셔너리 (대응관계 표현) Key - Value
dic = {'name':'홍길동', 'phone':'010-1111-2222','birth':121212}
dic['a'] = [1,2,3] #딕셔너리 쌍 추가 및 수정
del dic['phone'] #딕셔너리 요소 삭제
print(dic)

{'name': '홍길동', 'birth': 121212, 'a': [1, 2, 3]}

In [ ]:
#딕셔너리 관련 함수
dic = {'name':'peace','phone':'010-1004-1004','birth':111111}
print(dic.keys()) #key 리스트 객체 반환
print(list(dic.keys())) #key 리스트 객체를 리스트로 반환
for i in dic.keys():
  print(i)
print("="*20)
print(dic.values()) #value 리스트 객체
print(list(dic.values())) #value 리스트 객체를 리스트로 반환
for i in dic.values():
  print(i)
print("="*20)
print(dic.items()) #딕셔너리 쌍 튜플을 리스트로 묶은 객체 반환
print(list(dic.items()))
for i in dic.items():
  print(i[0])
print("="*20)
print(dic.get('nam','정보없음')) #dic['name']과 결과는 같지만 존재하지 않는 key일 때 none혹은 디폴트 값을 반환함
print("="*20)
print('name' in dic) #딕셔너리 안에 key 있는지 확인
print("="*20)
print(dic.pop('name'),'\n',dic) #딕셔너리 쌍 반환 후 제거
print("="*20)
dic.clear()
dic

In [208]:
#집합 자료형 (인덱싱X)
s1 = set([1,2,3])
s2 = set("hello") #중복X, 순서X
s3 = {1,2,3} #set대신 중괄호 사용가능 ※s3={} 딕셔너리가 될 수 있으므로 요소필요

s1.add(4) #값 추가
s1.update([5,6,7]) #값 여러개 추가
s1.remove(5) #값 제거 (없는 값은 오류남)
s1.discard(8) #값 제거 (없어도 오류 안남)
print(s1, s2, s3)
s1.clear() #모든 값 제거
s1

{1, 2, 3, 4, 6, 7} {'e', 'l', 'o', 'h'} {1, 2, 3}

set()

In [193]:
#집합자료형 인덱싱
s = set([1,2,3])
s = list(s)
s[2]

3

In [199]:
#교집합, 합집합, 차집합
s1 = set([1,2,3,4,5,6,7])
s2 = set([4,5,6,7,8,9,10])
print(s1 & s2) #교집합
print(s1 | s2) #합집합
print(s1.union(s2)) #합집합 (union())
print(s1-s2,s2-s1) #차집합 (difference()도 가능)

{4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3} {8, 9, 10}

In [214]:
#불 자료형
a = True
b = False
type(a)

bool

In [212]:
#불 사용 예
a = [1,2,3,4]
while a:
  print(a.pop())
  print(bool(a))

4
True
3
True
2
True
1
False

In [215]:
#and, or, not연산자
print(True and False)
print(True or False)
print(not True)

False
True
False

In [218]:
#변수: 자료형 값 저장공간
#==============================================규칙
#영문자, 숫자, 언더스코어(_)만 사용할 수 있다.
#숫자로 시작할 수 없다.
#예약어는 사용할 수 없다. (False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import,
#in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield)
#대소문자를 구분한다.

[1, 4, 3] [1, 4, 3]

In [223]:
#복사
a = [1,2,3]
b = a #같은 객체를 가리키기 때문에 사본만 수정이 안된다.
b[1] = 4
print(a,b)
id(a), id(b) #같은 메모리 주소를 사용하기 때문
#======================================================
#첫번째 방법 [:]이용
a = [1,2,3]
b = a[:]
b[1] = 4
print(a,b)
#두번째 방법 copy모듈 사용
from copy import copy
b = copy(a)
b[2] = 5
print(a,b)

[1, 4, 3] [1, 4, 3]
[1, 2, 3] [1, 4, 3]
[1, 2, 3] [1, 2, 5]

In [241]:
#변수 만드는 방법
a, b = ('python', 'easy') #튜블로 a,b에 대입
print(a,b)
a = b = 'python'
print(id(a), id(b))
a = 3
b = 5
print(id(a), id(b))
a, b = b, a
print(a,b)
print(id(a), id(b))

python easy
133678398241696 133678398241696
11654440 11654504
5 3
11654504 11654440