<a href="https://colab.research.google.com/github/peace03/python25study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 숫자형
# Number 타입: 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.
a = 123
print(a)

123

In [ ]:
a = 0o177
print(a)

127

In [ ]:
a = 0x8ff
print(a)

2303

In [ ]:
a = 3
b = 5
print(a ** b)

243

In [ ]:
a=int(input())
if a % 5 == 0:
  print(a,"는 5의 배수입니다.")
else:
  print(a,"는 5의 배수가 아닙니다.")

60
60 는 5의 배수입니다.

In [ ]:
#문자열 자료형
#역슬래시로 큰싸옴표 문자열로 중복 사용
food = "\"Python is very easy.\" he says."
print(food)

"Python is very easy." he says.

In [ ]:
a = """I
am
Ironman"""
print(a)

I
am
Ironman

In [ ]:
head = "Python"
tail = " is fun!"
print(head + tail)
print(head * 2)

Python is fun!
PythonPython

In [ ]:
a = "Life is too short, You need Python"
print(a[:4])
print(a[-6:])

Life
Python

In [ ]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20230331
Rainy

In [ ]:
a = "pithon"
a = a[:1] + 'y' + a[2:]
print(a)

python

In [ ]:
# 문자열 포매팅
# %s	문자열(String)
# %c	문자 1개(character)
# %d	정수(Integer)
# %f	부동소수(floating-point)
# %o	8진수
# %x	16진수
# %%	Literal % (문자 % 자체)
a = "현재 온도: %d도"
print(a%30)

현재 온도: 30도

In [ ]:
a = "I ate {0} apples. so I was sick for {1} days"
print(a.format(50, 2))

I ate 50 apples. so I was sick for 2 days

In [ ]:
a = "I ate {number} apples. so I was sick for {three} days"
print(a.format(number=50, three=2))

I ate 50 apples. so I was sick for 2 days

In [ ]:
#문자열 정렬
print("%10s" % "hi")
print("%-10sjane." % 'hi')
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
print("{0:*^10}".format("hi"))

        hi
hi        jane.
hi
        hi
****hi****

In [ ]:
#딕셔너리와 f포매팅(3.6버전부터 사용가능)
profile = {'name':'홍길동', 'age':35}
print(f'나의 이름은 {profile["name"]}입니다. 나이는 {profile["age"]}살입니다.')
#f포매팅 문자열 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":*^10}')

나의 이름은 홍길동입니다. 나이는 35살입니다.
hi
        hi
****hi****

In [ ]:
money = 12058946500
print(f"자산은 총 {money:,}원 있습니다.")

자산은 총 12,058,946,500원 있습니다.

In [ ]:
#문자열 관련 함수
a = "python"
print(a.count('y')) #문자 개수
print(a.find('n')) #위치 알려주기
print(a.index('n'))
print(",".join(a)) #문자사이 문자 넣기
a = a.upper() #대문자 변환
print(a)
a = a.lower() #소문자 변환
print(a)
a = "     python      "
print(a.lstrip()) #왼쪽 공백 삭제
print(a.rstrip()) #오른쪽 공백 삭제
a = a.strip() #양쪽 공백 삭제
print(a)
print(a.replace("py", "nay")) #문자 교체
a = "python is too easy"
print(a.split()) #문자열 나누기, 리스트에 넣는다
print(":".join(a).split(':'))
b = "python"
print(b.isalpha(), a.isalpha()) #알파벳만 있는지 확인
c = "500"
print(c.isdigit(), a.isdigit()) #*문자열*에 숫자만 있는지 확인
print(a.startswith("py")) #특정 문자열로 시작하는지 확인
print(a.endswith("easy")) #특정 문자열로 끝나는지 확인

1
5
5
p,y,t,h,o,n
PYTHON
python
python
     python
python
naython
['python', 'is', 'too', 'easy']
['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 't', 'o', 'o', ' ', 'e', 'a', 's', 'y']
True False
True False
True
True

In [85]:
a = "python"
", ".join(a)

'p, y, t, h, o, n'