<a href="https://colab.research.google.com/github/peace03/python25study/blob/main/%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#if문 (조건문 ture일 때 실행)
money = 1000
if money >= 10000:
  print("택시타자")
elif 10000 > money >= 5000: #elif는 개수 제한 없이 사용 가능하다
  print("버스타자")
elif 5000 > money >= 1000:
  print("자전거 대여하자")
else:
  print("걸어가자")

자전거 대여하자

In [13]:
#in, not in 조건문
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  pass #아무것도 실행하고싶지 않을때 사용
  #print("택시타자")
else:
  print("걸어가자")

In [15]:
#조건부 표현식 (복잡한 조건에선 자제 -> 가독성 떨어짐)
score = 85
result = "합격" if score >= 60 else "불합격"
print(result)

합격

In [17]:
#while문
menu = """1. 햄버거
2. 감자튀김
3. 치즈스틱
4. 콜라
5. 사이다
6. 종료"""
order = 0
while order != 6:
  print(menu)
  order = int(input())
print("주문이 완료되었습니다.")

1. 햄버거
2. 감자튀김
3. 치즈스틱
4. 콜라
5. 사이다
6. 종료
1
1. 햄버거
2. 감자튀김
3. 치즈스틱
4. 콜라
5. 사이다
6. 종료
6
주문이 완료되었습니다.

In [21]:
#continue (while문 맨 처음으로 돌아가기)
a = 0
while a < 20:
  a = a + 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9
11
13
15
17
19

In [25]:
#while-else문 (while문이 정상 종료 되었을 때 실행한다. break를 사용하면 실행되지 않는다.)
count = 0
while count < 3:
  #if count == 2:
    #break
  print(f"카운트: {count+1}")
  count += 1
else:
  print("while문이 정상 종료되었습니다.")

카운트: 1
카운트: 2

In [26]:
#중첩 while문
i = 1
while i <= 3:
  j = 1
  while j <= 3:
    print(f"i={i}, j={j}")
    j+=1
  i+=1

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

In [31]:
#for문 (리스트, 튜플, 딕셔너리, 문자열)
test_list = ['one', 'two', 'three'] #리스트
for i in test_list:
  print(i)
a = [(1,2), (3,4), (5,6)] #튜플
for (first, last) in a:
  print(first + last)
b = {'name':'홍길동','phone':'01055558888'}
for key, value in b.items(): #딕셔너리 (.values(0), .keys()도 사용가능)
  print(key, value)

one
two
three
3
7
11
name 홍길동
phone 01055558888

In [32]:
#for문 continue
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [33]:
#for문 range(시작숫자,끝숫자,숫자간격)
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [34]:
#리스트 컴프리헨션(list comprehension 리스트 안에 for문 사용)
result = [x*y for x in range(2,10)
                for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [38]:
#for문에서 break
for i in range(10):
  #if i == 5: break
  print(i, end=" ")
else: #for-else문 (break로 끝나면 실행 안됨)
  print("for문 정상종료")

0 1 2 3 4 5 6 7 8 9 for문 정상종료

In [44]:
#for문 enumerate함수 (인덱스와 값을 함께 사용)
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits, 10): #인덱스 10부터 시작
  print(f"{i}: {fruit}")

#for문 zip함수 (두개 이상의 리스트 동시 순회)
names = ['홍길동','김철수','이영희']
scores = [85,92,78]
for name, score in zip(names,scores):
  print(f"{name}: {score}점")

10: apple
11: banana
12: orange
홍길동: 85점
김철수: 92점
이영희: 78점